* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

#root {
  width: 100%;
  height: 100%;
  background: transparent;
}

body {
  min-width: 320px;
  min-height: 100vh;
}
